.article-header {
    font-size: 25px;
    color: #ff7802;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin:  26px 0;
}
.article-header-text {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #1d213e;
    font-family: nunito sans,sans-serif;
    margin-bottom: 30px;
}
.article-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: 400;
    color: #ff7802;
}
.article-title {
    font-size: 22px;
    font-weight: 600;
    font-family: livvic,sans-serif;
    color: #1d213e;
    line-height: 30px;
    margin-top: 20px;
}
.article-title:hover {
text-decoration: underline;
}
.article-btn {
    color: #666;
    font-size: 16px;
    font-family: livvic,sans-serif;
    font-weight: 600;
    text-transform: none;  
}
.article-btn:hover {
   color: #76A713;
}