.article-header {
    font-size: 25px;
    color: #ff7802;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin: 26px 0;
}

.article-image {
    transition: transform 500ms ease;
}
.article-image:hover {
    transform: scale(1.1);
}
.article-header-text {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #1d213e;
    font-family: nunito sans, sans-serif;
    margin-bottom: 30px;
}
.article-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: 400;
    color: #ff7802;
}
.article-title {
    font-size: 22px;
    font-weight: 600;
    font-family: livvic, sans-serif;
    line-height: 30px;
    margin-top: 20px;
    transition: transform 800ms ease;
}
.article-title:hover {
    transform: scale(1.05);
}
.article-title a {
    color: #1d213e;
    text-decoration: none;
}

.article-title a:hover {
    color: #76a713;
    text-decoration: underline;
}
.article-button {
    color: #666;
    text-transform: none;
    transition: transform 800ms ease;
}
.article-btn {
    color: #666;
    font-size: 16px;
    font-family: livvic, sans-serif;
    font-weight: 600;
    text-transform: none;
    transition: transform 800ms ease;
}
.article-btn a {
    color: #666;
    text-decoration: none;
    transition: transform 800ms ease;
}
.article-button:hover .article-btn a {
    color: #76a713;
    transform: scale(1.05);
}
.article-button:hover .article-btn {
    color: #76a713;
    transform: scale(1.05);
}

.article-page {
    color: #ff7802;
    margin-top: 40px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.article-page-text {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #1d213e;
    text-align: left;
    font-family: nunito sans, sans-serif;
}
.article-menu-text {
    display: flex;
    justify-content: space-between;
}
.article-menu-btn {
    color: #ff7800;
    transition: transform 800ms ease;
}
.article-menu-btn:hover {
    transform: scale(1.5);
}
.article-page-btn {
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.article-page-button {
    margin-left: 150px;
}
