.slider-header {
    text-align: center;
    font-family: 'Shadows Into Light', Sans-serif;
    font-size: 30px;
    color: #ff7802;
    margin: 26px 0;
}

.slider-header-text {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #1b2336;
    font-family: livvic, sans-serif;
    margin-bottom: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-pagination {
    position: relative;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ff7802;
}

.swiper-slide {
    display: flex;
    align-items: center;
}

.swiper-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 500ms ease;
}
.swiper-img:hover {
    transform: scale(1.15);
}
.swiper-card {
    height: 100%;
    background-color: #edf5ed;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.swiper-text {
    color: #1b2336;
    font-family: livvic, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}
.swiper-icons {
    position: absolute;
    text-align: left;
    margin-left: 20px;
    display: none;
}
.swiper-card:hover .swiper-icons {
    display: block;
}

.swiper-btn {
    background-color: #76a713;
    border-radius: 10px;
    text-transform: none;
    font-size: 15px;
    font-weight: 700;
    font-family: livvic, sans-serif;
}
.swiper-btn a {
    color: white;
    text-decoration: none;
}
.swiper-margin-btn {
    margin-top: 270px;
    margin-left: 17px;
}

.swiper-btn:hover {
    background-color: #ff7802;
}
.css-iljtu2-MuiRating-root {
    margin-top: -15px;
}
