.card-page {
    margin: 40px 0;
}
.card-page-btn {
    margin-left: 20px;
    display: flex;
    border-color: #1d213e;
    height: 30px;
    color: #1d213e;
    margin-left: 0;
}
.card-page-btn:hover {
    border-color: #1d213e;
}
