.card-text {
    font-family: livvic, sans-serif;
    margin-top: 30px;
}

.card-page {
    margin: 40px 0;
}
.card-page-btn {
    margin-left: 20px;
    display: flex;
    border-color: #1d213e;
    height: 30px;
    color: #1d213e;
    margin-left: 0;
}
.card-page-btn:hover {
    border-color: #1d213e;
}
.card-page-form-text {
    color: #ff7802;
    margin-top: 40px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: 800;
}
.card-page-text {
    font-family: livvic, sans-serif;
}
.card-page-input {
    margin: 20px 0;
}
